
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    width: 100%;
    max-width: fit-content;
    min-width: 600px;
    height: 100%;
    max-height: 100%;
    min-height: 50%;
    background-color: aliceblue;
    box-sizing: border-box;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

table {
    width: 100%;
    /* Столбцы занимают всю ширину контейнера */
    border-collapse: collapse;
    margin-top: 10px;
    box-sizing: border-box;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #c3f0c3f1;
    font-size: 16px;
}

td {
    font-size: 14px;
}